In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\Student-Performance-csv_T4qDx.csv")

In [3]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91
1,4,82,No,4,2,65
2,8,51,Yes,7,2,45
3,5,52,Yes,5,2,36
4,7,75,No,8,5,66

In [4]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [5]:
"""
Here we got mean, std deviation 5 number summary , of every column accept , Extracurricular Activities
answer me why?
"""

'\nHere we got mean, std deviation 5 number summary , of every column accept , Extracurricular Activities\nanswer me why?\n'

In [6]:
df.isnull().sum() #no null

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [7]:
df.dtypes

Hours Studied                        int64
Previous Scores                      int64
Extracurricular Activities          object
Sleep Hours                          int64
Sample Question Papers Practiced     int64
Performance Index                    int64
dtype: object

In [8]:
#Extracurricular Activities    ---->      object
"""
we have to handle it , coz machine will never understand it
"""

'\nwe have to handle it , coz machine will never understand it\n'

In [9]:
df["Extracurricular Activities"]

0       Yes
1        No
2       Yes
3       Yes
4        No
       ...
9995    Yes
9996    Yes
9997    Yes
9998    Yes
9999     No
Name: Extracurricular Activities, Length: 10000, dtype: object

In [10]:
"""
if yes --> 1
no --> 0
"""

'\nif yes --> 1\nno --> 0\n'

In [11]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [12]:
le=LabelEncoder() #make object
le.fit_transform(df["Extracurricular Activities"])

array([1, 0, 1, ..., 1, 1, 0])

In [13]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91
1,4,82,No,4,2,65
2,8,51,Yes,7,2,45
3,5,52,Yes,5,2,36
4,7,75,No,8,5,66

In [14]:
#still not chnged

In [15]:
df["Extracurricular Activities"]=le.fit_transform(df["Extracurricular Activities"])

In [16]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91
1,4,82,0,4,2,65
2,8,51,1,7,2,45
3,5,52,1,5,2,36
4,7,75,0,8,5,66

In [17]:
x=df[["Hours Studied","Previous Scores","Extracurricular Activities","Sleep Hours","Sample Question Papers Practiced"]]

In [18]:
x.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5

In [19]:
y=df["Performance Index"]

In [20]:
y.head()

0    91
1    65
2    45
3    36
4    66
Name: Performance Index, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=0)

In [23]:
x_train #8000 train

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
7389,5,95,0,6,4
9275,2,98,0,7,4
2995,2,65,1,8,1
5316,2,43,1,8,6
356,1,86,1,5,9
...,...,...,...,...,...
9225,5,64,1,4,3
4859,6,78,0,9,6
3264,1,76,1,6,5
9845,4,44,0,4,8
2732,8,83,1,8,1

In [24]:
x_test #2000 test

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
9394,4,67,0,9,3
898,8,60,0,4,7
2398,6,90,0,5,6
5906,1,51,1,6,6
2343,2,90,0,5,9
...,...,...,...,...,...
1037,7,97,0,9,9
2899,8,48,1,4,8
9549,2,86,1,7,7
2740,4,43,0,8,5
6690,3,41,0,5,1

In [25]:
"""
see the variations of numerical , some ranges bw 0-1 and 0-10 some are above 99 , this way model 
doesn't able to predict good , so what we ahve to do is feature scaling .
"""

"\nsee the variations of numerical , some ranges bw 0-1 and 0-10 some are above 99 , this way model \ndoesn't able to predict good , so what we ahve to do is feature scaling .\n"

In [26]:
"""
In Python, feature scaling, or normalization, is a crucial preprocessing step in machine learning
to ensure all features have a similar scale, preventing features with larger magnitudes from
dominating the analysis. Common methods include standardization (Z-score normalization) and
min-max scaling, implemented using libraries like scikit-learn. 
"""

'\nIn Python, feature scaling, or normalization, is a crucial preprocessing step in machine learning\nto ensure all features have a similar scale, preventing features with larger magnitudes from\ndominating the analysis. Common methods include standardization (Z-score normalization) and\nmin-max scaling, implemented using libraries like scikit-learn. \n'

In [27]:
"""
types:-
    1)Standardization (Z-score Normalization)
    2)Min-Max Scaling (Normalization):
    Scales the data to a specific range, often or [-1, 1].
    3)obust Scaling:
    Handles outliers more effectively than standardization or min-max scaling by using the median 
    and interquartile range (IQR) instead of the mean and standard deviation.
"""

'\ntypes:-\n    1)Standardization (Z-score Normalization)\n    2)Min-Max Scaling (Normalization):\n    Scales the data to a specific range, often or [-1, 1].\n    3)obust Scaling:\n    Handles outliers more effectively than standardization or min-max scaling by using the median \n    and interquartile range (IQR) instead of the mean and standard deviation.\n'

In [28]:
scaler = StandardScaler()

In [29]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model=LinearRegression()
model.fit(x_train_scaled,y_train)

LinearRegression()

In [32]:
model.predict(x_test_scaled)

array([49.77053049, 52.19917595, 78.31616795, ..., 64.49461027,
       24.43623736, 17.29127307])

In [33]:
x_test_scaled

array([[-0.42025311, -0.15860971, -0.94643256,  1.47783947, -0.54301917],
       [ 1.12692814, -0.57257986, -0.94643256, -1.47665767,  0.852917  ],
       [ 0.35333752,  1.20157794, -0.94643256, -0.88575824,  0.50393296],
       ...,
       [-1.19384373,  0.96502357,  1.05659932,  0.29604061,  0.852917  ],
       [-0.42025311, -1.57793595, -0.94643256,  0.88694004,  0.15494892],
       [-0.80704842, -1.69621314, -0.94643256, -0.88575824, -1.24098726]])

In [34]:
model.predict([[-1.21654316, -0.39749971, -0.998002  , -0.26408162, -0.18967192]])

array([38.40673731])

In [35]:
y_predict=model.predict(x_test_scaled)

In [36]:
from sklearn.metrics import r2_score

In [37]:
r2_score(y_test,y_predict)

0.9860391372744988

In [38]:
"""
as of now my model is in variable , as soon i turn off my pc it will lost all variables so, 
we have to store it in our file.
"""

'\nas of now my model is in variable , as soon i turn off my pc it will lost all variables so, \nwe have to store it in our file.\n'

In [39]:
import pickle #pickel will help to store model in physical file so i need not to , run all celss again

In [40]:
with open ("student_final_model.pkl","wb") as file :
    pickle.dump((model,scaler,le),file)

In [41]:
"""
here the name of physical file is "student_final_model.pkl"
and now we want to store model , with all the changes we did so the chnges were feature scaling , 
stored in variable scaler , and le stores the chnge of categorical variable to 0,1
"""

'\nhere the name of physical file is "student_final_model.pkl"\nand now we want to store model , with all the changes we did so the chnges were feature scaling , \nstored in variable scaler , and le stores the chnge of categorical variable to 0,1\n'

In [42]:
"""
now we will make an app, where we will use user interface , where as soon y click submit button
with all independent feature so the application will able to predict the model
"""

'\nnow we will make an app, where we will use user interface , where as soon y click submit button\nwith all independent feature so the application will able to predict the model\n'

In [43]:
#making application

In [44]:
import streamlit as st #download this library in anaconda prompt it is used to make ui interface

In [45]:
def load_model():
    with open("student_final_model.pkl","rb") as file: #making binary file
        model,scaler,le=pickle.load(file) #these 3 1) model , 2)scler that is feature scaling 3) le stores 4)le.fit_transform(df["Extracurricular Activities"]) 
    return model,scaler,le #it will return this 3
def pre_processing_input_data(data,scaler,le):
    data["Extracurricular Activities"]=le.fit_transform([data["Extracurricular Activities"]])[0]
    df=pd.DataFrame([data])
    df_transformed=scaler.transform(df)
    return df_transformed

In [46]:
def predict_data(data): #will predict the data
    model,scaler,le=load_model()
    processed_data=pre_processing_input_data(data,scaler,le)
    prediction=model.predict(processed_data)
    return prediction

In [47]:
def main():
    st.title("student performance prediction")
    st.write("enter your data to get your predictions ")

In [48]:
if __name__=='__main__':
    main()

2025-03-29 09:47:22.597 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-29 09:47:24.004
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-03-29 09:47:24.004 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-29 09:47:24.004 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-29 09:47:24.004 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-29 09:47:24.016 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-29 09:47:24.017 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.